# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userprefs
*.sln.docstates

# Rider
.idea/

# macOS
.DS_Store

# User-specific files
*.rsuser
*.pidb
*.svclog
*.scc

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

# ASP.NET
appsettings.*.json
!appsettings.json
!appsettings.Development.json

# Entity Framework Migrations
*.Designer.cs.bak
